.PropertyWarp{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.Property{
    
    margin: 2%;
}
/* <img  src='./picture/buyhose.jpg'/> */
.no-found{
    text-align: center;
    font-size: large;
}