.login{
    z-index: 1;
    background-color:LightGray;
    width: 33vw;
    height: 47vw;
    left: 34%;
    top: 2vw;
    background-color:lightgray;
    border: 2px solid#14C17B ;
    border-radius: 0;
    
    
}
.b{
    width: 34.5vh;
    text-align:center;
    font-size: large;
    height: 5vh;
    /* position: fixed; */
    /* margin-top: 0;
    padding: 0;
    top:0; */
}
.button{
    
   position: absolute;
   top: 0;
    
}