.login{
    overflow: auto;
    position: fixed;
    z-index: 1;
    background-color:LightGray;
    width: 33vw;
    height: 47vw;
    left: 34%;
    top: 2vw;
    display: flex;
    justify-content: center;
    background-color:lightgray;
    border: 2px solid#14C17B ;
    border-radius: 0;
    
    
}
.b{
    width: 34.5vh;
    position: fixed;
    bottom: 0;
    background-color: #14C17B;
}
.button{
    position: fixed;
    top: 2.19vw;
    right: 33.13vw;
    
    
}